<div th:fragment="clp-write-fragment" class="clp-write-section">
    <link rel="stylesheet" th:href="@{/css/estilo.css}"> <!-- Importa os estilos -->
    <h1>Escrever Tag no CLP</h1>

    <div class="form-container">
        <form id="clp-write-form-1" th:action="@{/write-tag}" th:object="${tag}" method="post" class="clp-form">
            <h2>Estoque</h2>
            <label>CLP:</label>
            <input type="hidden" name="ip" value="10.74.241.10" th:value="'10.74.241.10'" />
            <input type="text" value="Estoque" disabled class="static-field">

            <label>Porta do CLP:</label>
            <input type="hidden" name="port" value="102" />
            <input type="text" value="102" disabled class="static-field">

            <label>DB (Data Block):</label>
            <input type="hidden" name="db" value="9" />
            <input type="text" value="9" disabled class="static-field">

            <label>Tipo:</label>
            <select th:field="*{type}" required>
                <option value="STRING">String</option>
                <option value="BLOCK">Block</option>
                <option value="FLOAT">Float</option>
                <option value="INTEGER">Integer</option>
                <option value="BYTE">Byte</option>
                <option value="BIT">Bit</option>
            </select>

            <label>Offset:</label>
            <input type="number" th:field="*{offset}" required />

            <label>Bit Number:</label>
            <input type="number" th:field="*{bitNumber}" id="bitNumberField" />

            <label>Size:</label>
            <input type="number" th:field="*{size}" id="sizeField" />

            <label>Valor:</label>
            <input type="text" th:field="*{value}" required />

            <button type="submit">Enviar</button>
        </form>

        <form id="clp-write-form-2" th:action="@{/write-tag}" th:object="${tag}" method="post" class="clp-form">
            <h2>Expedição</h2>
            <label>CLP:</label>
            <input type="hidden" name="ip" value="10.74.241.40" th:value="'10.74.241.40'" />
            <input type="text" value="Expedição" disabled class="static-field">

            <label>Porta do CLP:</label>
            <input type="number" th:field="*{port}" required value="102" />

            <label>DB (Data Block):</label>
            <input type="number" th:field="*{db}" required />

            <label>Tipo:</label>
            <select th:field="*{type}" required>
                <option value="STRING">String</option>
                <option value="BLOCK">Block</option>
                <option value="FLOAT">Float</option>
                <option value="INTEGER">Integer</option>
                <option value="BYTE">Byte</option>
                <option value="BIT">Bit</option>
            </select>

            <label>Offset:</label>
            <input type="number" th:field="*{offset}" required />

            <label>Bit Number:</label>
            <input type="number" th:field="*{bitNumber}" id="bitNumberField2" />

            <label>Size:</label>
            <input type="number" th:field="*{size}" id="sizeField2" />

            <label>Valor:</label>
            <input type="text" th:field="*{value}" required />

            <button type="submit">Enviar</button>
        </form>
    </div>

    <div id="mensagem-tag">
        <div th:if="${mensagem}" class="alert alert-success">
            <p th:text="${mensagem}"></p>
        </div>
        <div th:if="${erro}" class="alert alert-danger">
            <p th:text="${erro}"></p>
        </div>
    </div>
</div>