main {
    flex-grow: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 40px;
    gap: 40px;
}

section {
    background-color: rgba(255, 255, 255, .1);
    width: 100%;
    max-width: 380px;
    border-radius: 15px;
    gap: 20px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

section .pedido-view {
    background-color: rgba(255, 255, 255, .1);
    width: 100%;
    min-height: 200px;
    border-radius: 10px;
    position: relative;
}

section .pedido-view button.spin {
    border-radius: 50%;
    aspect-ratio: 1 / 1;
    background-color: transparent;
    border: none;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 10px;
}

section .pedido-view.spin button.spin {
    right: initial;
    left: 10px;
    transform: rotate(180deg) translateY(50%);
}

section .pedido-view .imagem {
    position: absolute;
    width: 100%;
    top: 50%;
    transform: translateY(-50%) scaleX(-1);
}

section .pedido-view.spin .imagem {
    transform: translateY(-50%);
}

section .pedido-view .imagem[src="#"] {
    display: none;
}

section form {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

section form .input-box {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 5px;
}

section form .input-combo {
    display: flex;
    gap: 15px;
}

section form .input-box label {
    font-size: 12px;
    color: rgba(255, 255, 255, .5);
}

section form .input-box select {
    appearance: none;
    background-color: rgba(255, 255, 255, .1);
    color: white;
    border: none;
    padding: 10px 8px;
    border-radius: 10px;
    outline: none;
}

section form .input-box select option {
    color: var(--bg-color);
    border: none;
    padding: 10px 8px;
    appearance: none;
}

section form button {
    padding: 10px 8px;
    color: var(--bg-color);
    border-radius: 10px;
    border: none;
    margin-top: 10px;
}

section.plus {
    align-items: center;
    justify-content: center;
    background-color: transparent;
}

section.plus span {
    font-size: 75px;
    color: rgba(255, 255, 255, .5);
    padding: 20px;
    border-radius: 50%;
    background-color: rgba(255, 255, 255, .03);
}

section.hidden {
    opacity: 0;
}

select:not(:disabled):hover:hover {
    filter: brightness(1.2);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    opacity: 0.7;
    transition: all 0.3s ease;
    cursor: pointer;
}

.delete-btn {
    position: absolute;
    top: 0px;
    right: 0px;
    cursor: pointer;
    color: #FFFFFF;
    background: transparent;
    border-radius: 50%;
    padding: 2px;
    font-size: 18px;
    z-index: 10;
}

.delete-btn:hover {
    color: rgb(255, 50, 50);
}

section[id^="section-bloco-"] {
    position: relative;
}

form button[type="submit"] {
    background-color: var(--main-color);
    color: #FFFFFF;
}

form button[type="submit"]:not(:disabled):hover {
    filter: brightness(1.1);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    cursor: pointer;
}

.plus span:hover {
    cursor: pointer;
    opacity: 0.8;
    color: rgb(150, 255, 150);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

button:disabled, select:disabled {
    background-color: #d3d3d3;  /* Cor de fundo cinza */
    color: #a1a1a1;  /* Cor do texto em cinza */
    cursor: not-allowed;  /* Muda o cursor para indicar que não pode ser clicado */
    opacity: 0.5;  /* Reduz a opacidade */
  }
