<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://www.thymeleaf.org">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/css/main.css">
  <link rel="stylesheet" href="/css/fragments.css">
  <title>SIG - BANCADA 4.0</title>
</head>

<body>
  <header th:replace="~{fragments :: header}"></header>
  <main class="container-connect">
    <div class="enderecos">
      <h2>Endereços IP</h2>
      <div class="ips">
        <div class="modulo-1">
          <h4 id="tiEstoque">Estoque</h4>
          <p id="ipEstoque">10.74.241.10</p>
          <input type="hidden" id="hostIpEstoque" value="10.74.241.10">
        </div>
        <div class="modulo-2">
          <h4 id="tiProcesso">Processo</h4>
          <p id="ipProcesso">10.74.241.20</p>
          <input type="hidden" id="hostIpProcesso" value="10.74.241.20">
        </div>
        <div class="modulo-3">
          <h4 id="tiMontagem">Montagem</h4>
          <p id="ipMontagem">10.74.241.30</p>
          <input type="hidden" id="hostIpMontagem" value="10.74.241.30">
        </div>
        <div class="modulo-4">
          <h4 id="tiExpedicao">Expedição</h4>
          <p id="ipExpedicao">10.74.241.40</p>
          <input type="hidden" id="hostIpExpedicao" value="10.74.241.40">
        </div>
      </div>
      <hr>
      <div class="faixa">
        <label for="faixa"><strong>Faixa:</strong></label>
        <input id="faixa" type="text" placeholder="Informe a faixa de rede" value="10.74.241.0">
        <button type="button" id="confirm">Confirmar</button>
      </div>
      <p id="resultado" style="display: none;"></p>
      <button type="button" id="connect">Conectar</button>
    </div>
    <div class="bancada">
      <img src="assets/banqueida.png" alt="Bancada Smart 4.0">
    </div>
    <div id="message-container" class="message-container"></div>
  </main>

  <footer th:replace="~{fragments :: footer}"></footer>
  <script type="module">
    import { connect } from '/js/connection.js';
    import { getValueIP } from '/js/main.js';
  
    document.getElementById('connect').addEventListener('click', connect);
    document.getElementById('confirm').addEventListener('click', getValueIP);
  </script>
</body>

</html>