<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://www.thymeleaf.org">

<head>
  <meta charset="UTF-8" >
  <meta name="viewport" content="width=device-width, initial-scale=1.0" >
  <link rel="stylesheet" href="/css/store.css" >
  <link rel="stylesheet" href="/css/main.css" >
  <link rel="stylesheet" href="/css/fragments.css">
  <link rel="stylesheet"
    href="https://fonts.googleapis.com/css2?family=Material+Symbols+Rounded:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" >
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  <title>SIG - BANCADA 4.0</title>

  <link rel="preconnect" href="https://fonts.googleapis.com" >
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin >
  <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap" rel="stylesheet" >

  <meta name="theme-color" content="#1a1a2e" >
</head>

<body>
  <header th:replace="~{fragments :: header}"></header>
  <main>
    <section id="section-bloco-1" class="section-block">
      <div class="pedido-view" id="pedido-view1">
        <img class="imagem" id="bloco-1" src="assets/bloco/rblocoCor0.png" alt="Bloco" >
        <img class="imagem" id="lamina1-3" src="#" alt="Lâmina 3" >
        <img class="imagem" id="lamina1-1" src="#" alt="Lâmina 1" >
        <img class="imagem" id="lamina1-2" src="#" alt="Lâmina 2" >
        <img class="imagem" id="padrao1-1" src="#" alt="Padrão 1" >
        <img class="imagem" id="padrao1-2" src="#" alt="Padrão 2" >
        <img class="imagem" id="padrao1-3" src="#" alt="Padrão 3" >
        <button type="reset" id="spin1" class="spin" onclick="spin(1)">
          <span class="material-symbols-rounded">chevron_right</span>
        </button>
      </div>
      <form>
        <div class="input-box">
          <label for="block-color-1">Cor do Bloco</label>
          <select name="block-color-1" id="block-color-1" onchange="changePedidoView(1)">
            <option value="" hidden selected>Selecione</option>
            <option th:each="entry : ${colorAvailability}" th:value="${entry.key}" th:data-max="${entry.value}"
              th:text="${entry.key == 1 ? 'Preto' : (entry.key == 2 ? 'Vermelho' : 'Azul')}"></option>
          </select>
        </div>
        <div class="input-combo">
          <div class="input-box">
            <label for="l1-color-1">Cor Lâmina 1</label>
            <select name="l1-color-1" id="l1-color-1" disabled onchange="changePedidoView(1)">
              <option value="" selected>Nenhum</option>
              <option value="1">Vermelho</option>
              <option value="2">Azul</option>
              <option value="3">Amarelo</option>
              <option value="4">Verde</option>
              <option value="5">Preto</option>
              <option value="6">Branco</option>
            </select>
          </div>
          <div class="input-box">
            <label for="l1-pattern-1">Padrão Lâmina 1</label>
            <select name="l1-pattern-1" id="l1-pattern-1" disabled onchange="changePedidoView(1)">
              <option value="" selected>Nenhum</option>
              <option value="1">Casa</option>
              <option value="2">Navio</option>
              <option value="3">Estrela</option>
            </select>
          </div>
        </div>
        <div class="input-combo">
          <div class="input-box">
            <label for="l2-color-1">Cor Lâmina 2</label>
            <select name="l2-color-1" id="l2-color-1" disabled onchange="changePedidoView(1)">
              <option value="" selected>Nenhum</option>
              <option value="1">Vermelho</option>
              <option value="2">Azul</option>
              <option value="3">Amarelo</option>
              <option value="4">Verde</option>
              <option value="5">Preto</option>
              <option value="6">Branco</option>
            </select>
          </div>
          <div class="input-box">
            <label for="l2-pattern-1">Padrão Lâmina 2</label>
            <select name="l2-pattern-1" id="l2-pattern-1" disabled onchange="changePedidoView(1)">
              <option value="" selected>Nenhum</option>
              <option value="1">Casa</option>
              <option value="2">Navio</option>
              <option value="3">Estrela</option>
            </select>
          </div>
        </div>
        <div class="input-combo">
          <div class="input-box">
            <label for="l3-color-1">Cor Lâmina 3</label>
            <select name="l3-color-1" id="l3-color-1" disabled onchange="changePedidoView(1)">
              <option value="" selected>Nenhum</option>
              <option value="1">Vermelho</option>
              <option value="2">Azul</option>
              <option value="3">Amarelo</option>
              <option value="4">Verde</option>
              <option value="5">Preto</option>
              <option value="6">Branco</option>
            </select>
          </div>
          <div class="input-box">
            <label for="l3-pattern-1">Padrão Lâmina 3</label>
            <select name="l3-pattern-1" id="l3-pattern-1" disabled onchange="changePedidoView(1)">
              <option value="" selected>Nenhum</option>
              <option value="1">Casa</option>
              <option value="2">Navio</option>
              <option value="3">Estrela</option>
            </select>
          </div>
        </div>
        <button type="button" id="send-1" disabled onclick="confirm(1)">
          Confirmar
        </button>
        <button type="submit" style="display: none;">a</button>
      </form>
    </section>
    <section class="plus">
      <span class="material-symbols-rounded" title="Adicionar novo bloco">add</span>
    </section>
    <section class="hidden"></section>

    <button type="button" class="enviar-pedido" id="enviar-pedido" onclick="openModal()" disabled>
      <span class="material-symbols-rounded">send</span> Visualizar Pedido
    </button>

    <div id="pedidoModal" class="modal">
      <div class="modal-content">
        <span class="close-modal" onclick="closeModal()">&times;</span>
        <h2>Visualização do Pedido</h2>

        <div class="modal-pedido-view">
          <button type="button" id="modal-spin" class="spin" onclick="spinModal()">
            <span class="material-symbols-rounded">chevron_right</span>
          </button>
          <div class="modal-bloco-container">
            <img class="imagem" id="modal-tampa" src="assets/blocks/rTampa1.png" alt="Tampa">

            <div class="modal-bloco1">
              <img class="imagem" id="modal-bloco1" src="#" alt="Bloco">
              <img class="imagem" id="modal-lamina1-1" src="#" alt="Lâmina 1">
              <img class="imagem" id="modal-lamina1-2" src="#" alt="Lâmina 2">
              <img class="imagem" id="modal-lamina1-3" src="#" alt="Lâmina 3">
              <img class="imagem" id="modal-padrao1-1" src="#" alt="Padrão 1">
              <img class="imagem" id="modal-padrao1-2" src="#" alt="Padrão 2">
              <img class="imagem" id="modal-padrao1-3" src="#" alt="Padrão 3">
            </div>

            <div class="modal-bloco2">
              <img class="imagem" id="modal-bloco2" src="#" alt="Bloco">
              <img class="imagem" id="modal-lamina2-1" src="#" alt="Lâmina 1">
              <img class="imagem" id="modal-lamina2-2" src="#" alt="Lâmina 2">
              <img class="imagem" id="modal-lamina2-3" src="#" alt="Lâmina 3">
              <img class="imagem" id="modal-padrao2-1" src="#" alt="Padrão 1">
              <img class="imagem" id="modal-padrao2-2" src="#" alt="Padrão 2">
              <img class="imagem" id="modal-padrao2-3" src="#" alt="Padrão 3">
            </div>

            <div class="modal-bloco3">
              <img class="imagem" id="modal-bloco3" src="#" alt="Bloco">
              <img class="imagem" id="modal-lamina3-1" src="#" alt="Lâmina 1">
              <img class="imagem" id="modal-lamina3-2" src="#" alt="Lâmina 2">
              <img class="imagem" id="modal-lamina3-3" src="#" alt="Lâmina 3">
              <img class="imagem" id="modal-padrao3-1" src="#" alt="Padrão 1">
              <img class="imagem" id="modal-padrao3-2" src="#" alt="Padrão 2">
              <img class="imagem" id="modal-padrao3-3" src="#" alt="Padrão 3">
            </div>
          </div>
        </div>

        <div class="modal-buttons">
          <button type="button"  class="modal-cancel" onclick="closeModal()">
            <span class="material-symbols-rounded">close</span> Cancelar
          </button>
          <button type="button" class="modal-confirm" id="modal-confirm" >
            <span class="material-symbols-rounded">check</span> Confirmar Pedido
          </button>
        </div>
      </div>
    </div>
    <div id="message-container" class="message-container"></div>
  </main>
  <footer th:replace="~{fragments :: footer}"></footer>
  <script type="module" src="/js/store.js"></script>
  <script type="module">
    import {submitOrder} from '/js/store.js';

    document.getElementById('modal-confirm').addEventListener('click', submitOrder);
  </script>
</body>

</html>