<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://www.thymeleaf.org">

<head>
  <meta charset="UTF-8" name="theme-color" content="#1a1a2e">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/css/view.css">
  <link rel="stylesheet" href="/css/main.css">
  <link rel="stylesheet" href="/css/fragments.css">
  <link rel="stylesheet"
    href="https://fonts.googleapis.com/css2?family=Material+Symbols+Rounded:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200">
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  <title>SIG - BANCADA 4.0</title>

  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap" rel="stylesheet">
</head>

<body>
  <header th:replace="fragments :: header"></header>
  <main>
    <section class="display-view">
      <div class="pedido-view" id="pedido-view">
        <button type="button" id="spin" class="spin" onclick="spin()">
          <span class="material-symbols-rounded">chevron_right</span>
        </button>

        <div class="modal-bloco-container">
          <img class="imagem" id="tampa" src="assets/blocks/rTampa1.png" alt="Tampa">

          <div class="bloco1">
            <img class="imagem" id="bloco1" src="#.png" alt="Bloco">
            <img class="imagem" id="lamina1-1" src="assets/laminas/lamina1-2.png" alt="Lâmina 1">
            <img class="imagem" id="lamina1-2" src="assets/laminas/lamina2-3.png" alt="Lâmina 2">
            <img class="imagem" id="lamina1-3" src="assets/laminas/lamina3-1.png" alt="Lâmina 3">
            <img class="imagem" id="padrao1-1" src="assets/padroes/padrao1-1.png" alt="Padrão 1">
            <img class="imagem" id="padrao1-2" src="assets/padroes/padrao2-2.png" alt="Padrão 2">
            <img class="imagem" id="padrao1-3" src="assets/padroes/padrao3-1.png" alt="Padrão 3">
          </div>

          <div class="bloco2">
            <img class="imagem" id="bloco2" src="#.png" alt="Bloco">
            <img class="imagem" id="lamina2-1" src="assets/laminas/lamina1-1.png" alt="Lâmina 1">
            <img class="imagem" id="lamina2-2" src="assets/laminas/lamina2-2.png" alt="Lâmina 2">
            <img class="imagem" id="lamina2-3" src="assets/laminas/lamina3-3.png" alt="Lâmina 3">
            <img class="imagem" id="padrao2-1" src="#" alt="Padrão 1">
            <img class="imagem" id="padrao2-2" src="#" alt="Padrão 2">
            <img class="imagem" id="padrao2-3" src="#" alt="Padrão 3">
          </div>

          <div class="bloco3">
            <img class="imagem" id="bloco3" src="#.png" alt="Bloco">
            <img class="imagem" id="lamina3-1" src="assets/laminas/lamina1-1.png" alt="Lâmina 1">
            <img class="imagem" id="lamina3-2" src="assets/laminas/lamina2-2.png" alt="Lâmina 2">
            <img class="imagem" id="lamina3-3" src="assets/laminas/lamina3-3.png" alt="Lâmina 3">
            <img class="imagem" id="padrao3-1" src="#" alt="Padrão 1">
            <img class="imagem" id="padrao3-2" src="#" alt="Padrão 2">
            <img class="imagem" id="padrao3-3" src="#" alt="Padrão 3">
          </div>
        </div>
      </div>
    </section>
  </main>
  <footer th:replace="fragments :: footer"></footer>
  <script src="js/view.js"></script>
</body>

</html>